In [1]:
import pandas as pd
import numpy as np

## 20 primeiras linhas

In [2]:
df = pd.read_csv('../datasets/netflix_daily_top_10.csv')
df.head(n=20)

,As of,Rank,Year to Date Rank,Last Week Rank,Title,Type,Netflix Exclusive,Netflix Release Date,Days In Top 10,Viewership Score
0,2020-04-01,1,1,1,"Tiger King: Murder, Mayhem …",TV Show,Yes,"Mar 20, 2020",9,90
1,2020-04-01,2,2,-,Ozark,TV Show,Yes,"Jul 21, 2017",5,45
2,2020-04-01,3,3,2,All American,TV Show,NaN,"Mar 28, 2019",9,76
3,2020-04-01,4,4,-,Blood Father,Movie,NaN,"Mar 26, 2020",5,30
4,2020-04-01,5,5,4,The Platform,Movie,Yes,"Mar 20, 2020",9,55
5,2020-04-01,6,6,-,Car Masters: Rust to Riches,TV Show,Yes,"Sep 14, 2018",4,14
6,2020-04-01,7,10,-,Unorthodox,TV Show,Yes,"Mar 26, 2020",2,5
7,2020-04-01,8,7,5,Love is Blind,TV Show,Yes,"Feb 13, 2020",9,40
8,2020-04-01,9,8,-,Badland,Movie,NaN,"Mar 26, 2020",4,11
9,2020-04-01,10,9,-,Uncorked,Movie,Yes,"Mar 27, 2020",4,15
10,2020-04-02,1,1,1,"Tiger King: Murder, Mayhem …",TV Show,Yes,"Mar 20, 2020",10,100
11,2020-04-02,2,2,-,Ozark,TV Show,Yes,"Jul 21, 2017",6,54
12,2020-04-02,3,3,2,All American,TV Show,NaN,"Mar 28, 2019",10,84
13,2020-04-02,4,-,-,Nailed It!,TV Show,Yes,"Mar 9, 2018",1,7
14,2020-04-02,5,-,-,How to Fix a Drug Scandal,TV Show,Yes,"Apr 1, 2020",1,6
15,2020-04-02,6,4,-,Blood Father,Movie,NaN,"Mar 26, 2020",6,35
16,2020-04-02,7,-,-,The Roommate,Movie,NaN,"Apr 1, 2020",1,4
17,2020-04-02,8,7,-,Unorthodox,TV Show,Yes,"Mar 26, 2020",3,8
18,2020-04-02,9,5,4,The Platform,Movie,Yes,"Mar 20, 2020",10,57
19,2020-04-02,10,6,-,Car Masters: Rust to Riches,TV Show,Yes,"Sep 14, 2018",5,15

# Número de linhas

In [4]:
df.shape[0]

7100

## Média, o desvio padrão, e os valores mínimo e máximo de um campo numérico

In [12]:
dtop = df['Days In Top 10']
media = dtop.mean()
des_pad = dtop.std()
vmin = dtop.min()
vmax = dtop.max()

print('media: {}\ndesvio padrão: {}\nmin: {}\nmax: {}\n'.format(media, des_pad, vmin, vmax))

media: 24.123661971830987
desvio padrão: 58.47378925134772
min: 1
max: 428

## Exiba as 5 primeiras linhas do conjunto de dados ordenado em ordem decrescente pelo mesmo campo numérico usado por você na questão 4

In [18]:
df.sort_values('Days In Top 10')[::-1].head(n=5)

,As of,Rank,Year to Date Rank,Last Week Rank,Title,Type,Netflix Exclusive,Netflix Release Date,Days In Top 10,Viewership Score
6998,2022-03-01,9,-,-,Cocomelon,TV Show,NaN,"Jun 1, 2020",428,1474
6959,2022-02-25,10,-,-,Cocomelon,TV Show,NaN,"Jun 1, 2020",427,1472
6718,2022-02-01,9,-,7,Cocomelon,TV Show,NaN,"Jun 1, 2020",426,1471
6687,2022-01-29,8,5,8,Cocomelon,TV Show,NaN,"Jun 1, 2020",425,1469
6674,2022-01-28,5,6,-,Cocomelon,TV Show,NaN,"Jun 1, 2020",424,1466